**/node_modules
.corepack
.pnpm-store
**/.next
**/dist
**/.turbo
**/coverage
.git
.env
.env.local
**/.env
**/.env.local
**/.env.*
!**/.env.example
!.env.test
**/docker-compose.yml
.idea
storage/*
*.log
*.tsbuildinfo
