**/.env
**/.env.local
**/.env.*
**/.env.*.local
!.env.test
**/docker-compose.yml
/docker/stack.yml
!**/*.example
.idea/
node_modules/
.corepack/
.pnpm-store/
dist/
.next/
.turbo/
coverage/
storage/*
!storage/.gitkeep
*.log
*.tsbuildinfo
